<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackathon4">

    <application
        android:allowBackup="true"
        android:icon="@drawable/check"
        android:label="하루하나하삼"
        android:roundIcon="@drawable/check"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackathon4">

        <activity
            android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".Calendar"/>
        <activity android:name=".Setting" />

    </application>

</manifest>